<div class="mb-3 text-center">
    <h1 class="font-weight-bold">Способ оплаты</h1>




    <div class="">

        <div class=" mx-2 custom-control custom-radio d-inline">
            <input type="radio" [(ngModel)]="order.paymentMethod.paymentType" value="Наличными"
                class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
            <label class="custom-control-label" for="defaultUnchecked">
                <h3>Наличными</h3>
            </label>
        </div>


        <div class=" mx-2 custom-control custom-radio d-inline">
            <input type="radio" [(ngModel)]="order.paymentMethod.paymentType" value="Картой"
                class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked mdbInput>
            <label class="custom-control-label" for="defaultChecked">
                <h3>Картой</h3>
            </label>
        </div>
    </div>



</div>