
.container {
  text-align: center;
  
}

.product-block {
 
  display: inline-block;
  margin: 20px 3px;
  padding: 10px;
  
  
  
 
  
} 

.product-block:hover {
  transform: scale(1.1) ;
  transition: transform 0.4s;
  
}



.product-img {
  
  text-align: center; 
  
  
  
}

.product-title {
  text-align: center;
  line-height: 0;

  
  
}

.product-description {
  display: flex;
  justify-content: space-between;
  position: relative;
  
}



.btn-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 0;
  right: 0;
}