<div class="container">

     <div *ngFor="let product of products" class="product-block">
          <div class="product-img">
               <img [src]='apiUrl + product?.uploadImage.path' alt="Соус">
          </div>
          <div class="product-title">
               <h4>{{product.productName}}</h4>
          </div>
          <div class="product-title">
               <h4>{{product.price}} руб</h4>
          </div>
          <div class="btn-cart">
               <input type="button" (click)="addCart(product)" class="btn btn-danger" value="В корзину">
          </div>
     </div>

</div>