<div class=" mt-5 container">
    <div class=" d-flex justify-content-between mb-5">
        <div>
            <h1>
                <a class="text-decoration-none" routerLink="/admin/category">Категории </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg> {{isNew? 'Добавить': 'Редактировать'}} категорию
            </h1>
        </div>
        <div>
            <button *ngIf="!isNew" type="button" class="btn btn-danger" (click)="deleteCategory()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
            </button>
        </div>
    </div>
    <div class=" col-md-4 ">
        <form [formGroup]="form" (ngSubmit)="onSubmit() ">
            <div class="form-group">
                <label for="usr">Название</label>
                <input type="text" class="form-control" formControlName="categoryName" id="usr"
                    placeholder="Введите категорию">
                <div *ngIf="form.get('categoryName').touched && form.get('categoryName').invalid">
                    <small>
                        <h4 class="text-center text-danger">Введите категорию</h4>
                    </small>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block" disabled>Сохранить</button>
            </div>
        </form>
    </div>
</div>
<hr>
<app-product-form *ngIf="category?.categoryId" [categoryId]="category.categoryId"></app-product-form>