input.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  input.ng-valid.ng-touched{
    border: 1px solid green;
  }
  .fig {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 0; 
    margin-bottom: 5px; 
    color: #666; 
   }