.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.active{
 background-color: #aeb0b152;
  border-radius: 5px;
}


@keyframes chartjs-render-animation {
  from {
      opacity: .99
  }

  to {
      opacity: 1
  }
}


.nav-link{
  cursor: pointer;
}

.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms
}

.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1
}

.chartjs-size-monitor-expand>div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0
}

.chartjs-size-monitor-shrink>div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

