<form novalidate #checkoutForm="ngForm">
    <div class="page">

        <div class="bg-primary text-white p-2">
            <div class="navbar-brand font-weight-bold">Pizza Burger House</div>
        </div>

        <div class="bd-example">

            <div class="row g-4 row justify-content-center">
                <div class="text-center">
                    <h1 class="font-weight-bold">Контактная информация</h1>
                </div>




                <div class="col-md-2">
                    <label class="form-label">Номер телефона*</label>
                    <input #phoneNumber="ngModel" type="tel" [(ngModel)]="order.customerPhoneNumber" name="phoneNumber"
                        class="form-control" required>

                    <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="text-danger">
                        Введите номер телефона
                    </div>
                </div>



                <div class="col-md-2">
                    <label class="form-label">Ваше имя*</label>
                    <input #name="ngModel" type="text" [(ngModel)]="order.customerName" name="name" class="form-control"
                        required>
                    <div *ngIf="name.invalid && name.touched" class="text-danger">
                        Введите имя
                    </div>
                </div>



                <div class="col-md-2">
                    <label class="form-label">E-mail</label>
                    <input type="mail" [(ngModel)]="order.customerEmail" name="cosmomerEmail" class="form-control">

                </div>
            </div>
        </div>

        <hr>


        <div class="row g-3 row justify-content-center">
            <div class="col-md-2">
                <label class="form-label">Ваш город</label>
                <select #city="ngModel" class="form-select" [(ngModel)]="order.deliveryOrder.customerCity" name="city"
                    required aria-label="Default select example">
                    <option *ngFor="let chooseType of chooseCity">{{chooseType.name}}
                    </option>
                </select>
                <div *ngIf="city.invalid && city.touched" class="text-danger">
                    Введите город
                </div>
            </div>





            <div class="col-md-2">
                <label class="form-label">Улица</label>
                <input #street="ngModel" type="text" [(ngModel)]="order.deliveryOrder.customerStreet"
                    class="form-control" name="street" required>
                <div *ngIf="street.invalid && street.touched" class="text-danger">
                    Введите улицу
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label">Номер дома</label>
                <input #house="ngModel" type="number" [(ngModel)]="order.deliveryOrder.customerHouseNumber"
                    class="form-control" name="house" required>
                <div *ngIf="house.invalid && house.touched" class="text-danger">
                    Введите номер дома
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-label">Квартира</label>
                <input #apartment="ngModel" type="number" [(ngModel)]="order.deliveryOrder.customerApartmentNumber"
                    class="form-control" name="apartment" required>
                <div *ngIf="apartment.invalid && apartment.touched" class="text-danger">
                    Введите номер квартиры
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label">Подьезд</label>
                <input #entrance="ngModel" type="number" [(ngModel)]="order.deliveryOrder.customerEntranceNumber"
                    class="form-control" name="entrance" required>
                <div *ngIf="entrance.invalid && entrance.touched" class="text-danger">
                    Введите номер подьезд
                </div>
            </div>



            <app-payment></app-payment>

            <div class="text-center ">
                <div>
                    <h2>Сумма заказа: {{cart.totalPrice}} руб</h2>
                </div>
                <button class="btn btn-danger m-1" [disabled]="checkoutForm.invalid"
                    (click)="submitOrderDelivery(confirmContent)">Оформить заказ</button>
            </div>

        </div>

    </div>
</form>



<ng-template #confirmContent let-modal class="">
    <div class="modal-body">
        <app-order-confirmation></app-order-confirmation>
    </div>
</ng-template>