<form [formGroup]="addForm" (ngSubmit)="submitAddForm() ">
    <h2 class="text-center">Добавить продукт</h2>
    <div class="my-3">
        <label class="form-label">Тип продукта</label>
        <select formControlName="productType" class="form-select" aria-label="Default select example">
            <option selected>Выбирите...</option>
            <option *ngFor="let chooseType of chooseTypes">{{chooseType.name}}
            </option>
        </select>
        <div *ngIf="addForm.get('productType').touched && addForm.get('productType').invalid">
            <small>
                <h4 class="text-center">Введите тип </h4>
            </small>
        </div>

    </div>

    <div class="mb-3">
        <label class="form-label">Название продукта</label>
        <input type="text" formControlName="productName" class="form-control">
        <div *ngIf="addForm.get('productName').touched && addForm.get('productName').invalid">
            <small>
                <h4 class="text-center">Введите наименнование</h4>
            </small>
        </div>
    </div>

    <div class="my-3">
        <label class="form-label">Описание</label>
        <input type="text" formControlName="productDescription" class="form-control">
    </div>

    <div class="my-3">
        <label class="form-label">Вес продукта</label>
        <input type="number" formControlName="productWeight" class="form-control">
    </div>

    <div class="my-3">
        <label class="form-label">Цена продукта</label>
        <input type="number" formControlName="price" class="form-control">
        <div *ngIf="addForm.get('price').touched && addForm.get('price').invalid">
            <small>
                <h4 class="text-center">Введите стоимость</h4>
            </small>
        </div>
    </div>


    <div class="my-3">
        <label class="form-label">Введите ID изображения</label>
        <input type="number" formControlName="uploadImageId" class="form-control">
        <div *ngIf="addForm.get('uploadImageId').touched && addForm.get('uploadImageId').invalid">
            <small>
                <h4 class="text-center">Введите ID изображения</h4>
            </small>
        </div>
    </div>



    <div class="my-3">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="addForm.invalid">Сохранить продукт</button>
    </div>

</form>